<section class="technologies-container" id="technologies">
    <h2> TECHNOLOGIES</h2>
    <div class="technologie-icons" >
        <div class="front">
            <a href="" >
                <span class="technologie-icon" appScrollAnimation>
                    <img src="/assets/logos/html-icon.svg" alt="">
                </span>
            </a>
            <a href="" >
                <span class="technologie-icon" appScrollAnimation>
                    <img src="/assets/logos/css-icon.svg" alt="">
                </span>
            </a>
            <a href="https://iconos8.es/icon/uJM6fQYqDaZK/typescript" target="_blank" >
                <span class="technologie-icon" appScrollAnimation >
                    <img src="/assets/logos/typescript-icon2.svg" alt="">
                </span>
            </a>
            <a href="" >
                <span class="technologie-icon" appScrollAnimation >
                    <img src="/assets/logos/angular-icon.svg" alt="" >
                </span>
            </a>
        
            

        </div>
        
        <div class="back" >
        <a href="https://iconos8.es/icon/13679/java" target="_blank" >
            <span class="technologie-icon" appScrollAnimation>
                <img src="/assets/logos/java-icon-2.svg" alt="">
            </span>
        </a>    
        <a href="https://iconos8.es/icon/90519/spring-boot" target="_blank" >
            <span class="technologie-icon" appScrollAnimation>
                <img src="/assets/logos/spring-icon.svg" alt="">
            </span>
        </a>
        <a href="https://iconos8.es/icon/9nLaR5KFGjN0/mysql-logo" target="_blank" >
            <span class="technologie-icon" alt="" appScrollAnimation>
                <img src="/assets/logos/mysql-icon.svg" alt="" >
            </span>
        </a>
        <a href="https://iconos8.es/icon/20906/git" target="_blank">
            <span class="technologie-icon" appScrollAnimation>
                <img src="/assets/logos/git-icon.svg" alt="">
            </span>
        </a>
        <a href="https://iconos8.es/icon/12599/github" target="_blank" >
            <span class="technologie-icon" appScrollAnimation>
                <img src="/assets/logos/github-icon2.svg" alt="">
            </span>
        </a>

        </div>
  

    </div>
    
</section>