<section class="aboutme-container" id="about-me">

    <div class="cont-left">
        <div class="tittle">
            <h2 class="sup"> ABOUT </h2>
            <h2 class="inf">ME</h2>
        </div>
    </div>
    <div class="cont-right">
        
    <p > Como Tecnico Superior en Programación graduado de la UTN, con un enfoque en desarrollo Full Stack y todas las materias aprobadas, 
        estoy actualmente en búsqueda activa de oportunidades para completar las horas de práctica profesional requeridas para obtener mi título. 
        </p>
    
        <div class="contact" >
            
        <div class="contact-icons">
            <a href="https://www.instagram.com/benjawagner/" target="_blank">
                <span class="contact-icon" appScrollAnimation>
                        <img src="/assets/logos/icons8-instagram.svg" alt="">
                </span>
            </a>
            <a href="https://www.linkedin.com/in/wagnerbenjamin99/" target="_blank">
                <span class="contact-icon" appScrollAnimation>
                    <img src="/assets/logos/icons8-linkedin.svg" alt="" >
                </span>
            </a>
            <a href="https://github.com/WagnerBenjamin99" target="_blank">
                <span class="contact-icon" appScrollAnimation>
                 <img src="/assets/logos/icons8-github-white.svg" alt="" >
                </span>
            </a>  
        </div>
        <button class="download-cv">
            <a href="/assets/cv/CV_Wagner_Benjamin.pdf" target="_blank" > Descargar CV </a>
        </button>
    </div>
    
</div>
</section>