<section class="education-container" id="education">
    <div class="container-sup">
        <h2> EDUCATION </h2>
    </div>

    <div class="container-inf">

        <div class="education-items">
            <div class="education-item">
                <img src="/assets/logos/EES_Nº6__2_-removebg-preview.png" style="margin-top: 5px;" height="70px" alt="EES Nº6 logo">
                <div class="cont-inf">
                    <p> Bachiller en administracion y finanzas </p>
                    <p> 2012 - 2017</p>
                </div>
                
            </div>
            <div class="education-item">
                <img src="/assets/logos/utn-frba.png" height="70px" alt="UTN-FRBA logo">  
                <p> Experto universitario de seguridad de la informacion </p>
                <p> Jun 2021 - Dic 2021 </p>
              
            </div>
            <div class="education-item">
                <img src="/assets/logos/utn-frbb.png" alt="" height="70px" alt="UTN-FRBA logo">
                <div class="cont-inf">
                    <p> Tecnico Superior en Programacion </p>
                    <p> 2022 - 2024 </p>
                </div>
            </div>
               
        </div>
    </div>
    

   
</section>